@import '../assets/sass/variables.scss';


.quote-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-icons {
      background-color: $theme-color;
      color: white;
      transition: .5s;
    }

    #new-quote {
      color: white;
      font-size: 14px;
    }
  }