

body {
  background-color: $theme-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  transition: .5s;
}

.btn {
  background-color: $theme-color;
  transition: .5s;
}

.loading{
  position: relative;
  left: 15px;
  display: none;
}

#root{

  & > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  .quote-container {
    position: relative;
    bottom: 80px;

    @media screen and (max-width: $mobile-breakpoint) {
      top: 15%;
      margin-bottom: 50px;
    }

    .quote-wrapper {
      background-color: white;
      padding: 30px 50px;
      min-width: 500px;
      max-width: 500px;
      border-radius: 3px;
      color: $theme-color;


      @media screen and (max-width: $mobile-breakpoint) {
        padding: 25px 30px;
        min-width: initial;
      }

    }


  }
}



