$theme-color: #76B0A8;
$main-font: sans-serif;

$mobile-breakpoint: 600px;

$theme-color-1: #F34335;
$theme-color-2: #E91E63;
$theme-color-3: #AB47BC;
$theme-color-4: #651FFF;
$theme-color-5: #5C6BC0;
$theme-color-6: #448AFF;
$theme-color-7: #00838F;
$theme-color-8: #009688;